.sidebar-container {
  position: fixed;
  display: flex;
  flex: none;
  height: 100vh;
  width: 400px;
  background-color: #343a40;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
  z-index: 1;
  left: 0;
  top: 0;
}

.sidebar {
  margin-top: 126px;
  width: 400px;
}

.sidebar-title {
  margin: auto;
  margin-left: 59px;
  color: #ffffff;
  font-size: 24px;
}

.sidebar-line {
  width: 197px;
  margin: auto;
  margin-left: 59px;
  margin-top: 38.5px;
}

.sidebar-list {
  margin-top: 58.8px;
  list-style-type: none;
  padding: 0;
  margin-left: 59px;
}

.list-icon,
.list-name {
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 40px;
}

.list-icon {
  margin-right: 18px;
  font-size: 24px;
}

.list-name {
  font-size: 20px;
  font-weight: 600;
}

.active {
  color: #74c0fc;
  font-weight: 800;
}

.container {
  margin-left: 400px;
}

.title {
  text-align: center;
  font-size: 36px;
  margin: 80px;
  font-weight: 800;
  color: #343a40;
}

.road-box {
  width: 1300px;
  height: 500px;
  text-align: center;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
}

.asc-traffic {
  font-size: 0px;
  display: flex;
}

.desc-traffic {
  font-size: 14px;
  display: flex;
}

.asc-direction {
  margin: auto;
}

.desc-direction {
  margin: auto;
}

.direction-name {
  font-size: 22px;
  color: #343a40;
  font-weight: 600;
  margin: 0;
}

.sum {
  display: inline-block;
  width: 75px;
  height: 58px;
  background-color: #51cf66;
}

.first-section {
  display: inline-block;
  width: 128px;
  height: 58px;
  background-color: #51cf66;
}

.second-section,
.third-section,
.fourth-section,
.fifth-section,
.sixth-section,
.seventh-section {
  display: inline-block;
  width: 148px;
  height: 58px;
  background-color: #51cf66;
}

.eighth-section {
  display: inline-block;
  width: 134px;
  height: 58px;
  background-color: #51cf66;
}

.count {
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  font-size: 18px;
}

.road-image {
  display: block;
  padding: 0px 75px;
}

.led {
  position: absolute;
}

.led_cross {
  width: 40px;
  height: 40px;
}

#led_1_1 {
  left: 690px;
  top: 380px;
}

#led_1_2 {
  left: 840px;
  top: 380px;
}

#led_1_3 {
  left: 990px;
  top: 380px;
}

#led_1_4 {
  left: 1140px;
  top: 380px;
}

#led_1_5 {
  left: 1290px;
  top: 380px;
}

#led_1_6 {
  left: 1440px;
  top: 380px;
}

#led_1_7 {
  left: 1590px;
  top: 380px;
}

#led_2_1 {
  left: 690px;
  top: 430px;
}

#led_2_2 {
  left: 840px;
  top: 430px;
}

#led_2_3 {
  left: 990px;
  top: 430px;
}

#led_2_4 {
  left: 1140px;
  top: 430px;
}

#led_2_5 {
  left: 1290px;
  top: 430px;
}

#led_2_6 {
  left: 1440px;
  top: 430px;
}

#led_2_7 {
  left: 1590px;
  top: 430px;
}

#led_3_1 {
  left: 690px;
  top: 480px;
}

#led_3_2 {
  left: 840px;
  top: 480px;
}

#led_3_3 {
  left: 990px;
  top: 480px;
}

#led_3_4 {
  left: 1140px;
  top: 480px;
}

#led_3_5 {
  left: 1290px;
  top: 480px;
}

#led_3_6 {
  left: 1440px;
  top: 480px;
}

#led_3_7 {
  left: 1590px;
  top: 480px;
}

.subtitle {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  color: #343a40;
}

.recommend-box {
  text-align: center;
}
